	<div class="row">
		<div class="columns sixteen">
			<br />
			<h3 class="tc mask-money">{{prompt.title}}</h3>
			<hr />
			<br />
			<div class="row">
				<div class="columns sixteen tc">
					{{prompt.message}}
				</div>
			</div>
			<br />
			<div class="row">
				<div class="columns eight tc">
					<button type="button" class="cd-btn light-rounded mask-money alert-danger" data-ng-click="prompt(false)">Cancel</button>
				</div>
				<div class="columns eight tc">
					<button type="button" class="cd-btn light-rounded mask-money alert-success" data-ng-click="prompt(true)">Continue</button>
				</div>
			</div>
			<br />
			<br />
		</div>
	</div>