							<form method="post" id="formOccupationEdit" name="formOccupationEdit" enctype="multipart/form-data" class="prForm clearfix" novalidate="novalidate" data-ng-submit="save()">
								<h4 class="assistive-text">Edit Occupation Form</h4>
								<br />
								<div 
									class="alert alert-block"
									data-ng-class="{ 'alert-info': formError == false, 'alert-error': formError == true}" 
									data-ng-show="formFeedBack">
										<p class="statusMsg tc" style="margin:0 auto;" data-ng-model="formMsg">{{formMsg}}</p>
								</div>
								
								<div class="row">
									<div class="columns eight">
										<label class="FiraFont uppercase" for="Name">Name <small>(required)</small></label>
										<input 
											type="text"
											data-ng-model="active_occupation.Name"
											id="Name" name="Name" 
											required="required" placeholder="" data-ng-minlength="3" />
									</div>
									<div class="columns eight"></div>
								</div>
								
								<br />
								<hr />
								<br />
								
								<div data-ng-transclude></div>

								<input type="text" id="cookie_jar" name="cookie_jar" class="hidden" />
                                            
								<input type="hidden" name="model" value="occupation" />
                                
                                <input type="submit" class="submit_button uppercase FiraFont btn btn-large btn-success" value="Save" name="submit" data-ng-disabled="formOccupationEdit.$invalid" />

							</form>