	<form id="formAccountPassword" class="prForm" enctype="multipart/form-data" method="post" data-ng-submit="save()">
		
		<div 
			class="alert alert-block"
			data-ng-class="{ 'alert-info': formError == false, 'alert-error': formError == true}" 
			data-ng-show="formFeedBack">
				<p class="statusMsg tc" style="margin:0 auto;" data-ng-model="formMsg">{{formMsg}}</p>
		</div> 
		<br />
		<div id="formInputs">
			<h3 class="tl FiraFont">Change your Password</h3>
			<hr />
			<br />
			<div class="row">
				<div class="colums eight">
					<label for="current_password">Your Current Password.<small>(required)</small></label>
					<input type="password" name="current_password" id="current_password" data-ng-model="account_pwd.oldPwd" required minlength="6" placeholder="Password" value="" />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="colums eight">
					<label for="new_password1">New Password<small>(required)</small></label>
					<input type="password" name="new_password1" id="new_password1" data-ng-model="account_pwd.pwd1" required minlength="6" placeholder="Password" value="" />
				</div>
				<div class="colums eight">
					<label for="new_password2">Type your new password again.<small>(required)</small></label>
					<input type="password" name="new_password2" id="new_password2" data-ng-model="account_pwd.pwd2" required minlength="6" placeholder="Password" value="" />
				</div>
			</div>
														
			<hr />
			<br />
			<?php //HONEYPOT ?>

			<div data-ng-transclude></div>
																										
			<input type="submit" class="submit_button btn btn-large btn-success FiraFont uppercase" value="Update" name="submit" />

		</div> <!-- END: #formInputs -->

	</form>