					<div class="row">
						<div class="columns twelve" >
							<h3 class="FiraFont uppercase mask-money"><strong>Equipment</strong>&nbsp;<span class="badge badge-success">{{hse_equipment.length}}</span></h3>
							<br />							

						</div>
						<div class="columns three"></div>
					</div>

					<div class="row">
						<div class="columns sixteen">

							<div data-ui-form-equipment-new></div>

							<hr />

						</div>
					</div>

					<br /><br />

					<div class="row">
						<!--
						<div class="columns four">
							<div id="filter-department" data-ui-filter-data>
								<span class="anchor macdaddy-rounded">Show all Departments</span>
								<ul class="unstyled items">
									<li bindonce data-ng-repeat="db in hse_data.department" class="mask-money tl uppercase">
										<div class="row">
											<div class="columns two">
												<input type="checkbox" class="filterInput" data-uid="{{db.ID}}" data-type="department" />
											</div>
											<div class="columns fourteen">
												<span bo-text="db.Name"></span>&nbsp;()
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div> -->
						<div class="columns four">
							<div id="filter-occupation" data-ui-filter-data data-ng-if="search_results == false">
								<span class="anchor macdaddy-rounded">Show all Occupations</span>
								<ul class="unstyled items">
									<li bindonce data-ng-repeat="db in hse_data.occupation" class="mask-money tl uppercase">
										<div class="row">
											<div class="columns two">
												<input type="checkbox" class="filterInput" data-uid="{{db.ID}}" data-type="occupation" />
											</div>
											<div class="columns fourteen">
												<span bo-text="db.Name"></span>&nbsp;()
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="columns four"></div>
						<div class="columns four">
							<div class="columns sixteen" data-ng-if="search_results == true">
								<button type="button" class="btn btn-large btn-info macdaddy-rounded uppercase mask-money" data-ng-click="resetSearch()" style="padding: 1em;">Clear Search</button>
							</div>

							<div data-ng-if="search_results == false">
										
								<angucomplete-alt id="quick-search-equipment"
									placeholder="Search..."
									text-searching="Searching Equipment..."
									text-no-results="No Equipment Found"
									pause="100"
									selected-object="search"
									local-data="hse_equipment"
									search-fields="Name"
									title-field="Name"
									description-field = "departmentName"
									minlength="3"
									clear-selected="true"
									match-class="alert-success"
									input-class="form-control form-control-small input-xlarge search-query" />

							</div>
						</div>
						<div class="columns four tr">
							<div class="btn-group fr">
								<!--
								<button type="button" data-ng-click="export( 'equipment', 'pdf' )" class="btn btn-large" data-title="Export to PDF">
									<span class="icon-file-pdf alert-error"></span>
								</button>
								<button type="button" data-ng-click="export( 'equipment', 'csv' )" class="btn btn-large" data-title="Export Excel">
									<span class="icon-file-excel alert-success"></span>
								</button>
								-->
								<button 
									type="button" 
									data-ng-click="refreshData()"
									class="btn dataRefresher refresh-data-employees full-rounded fr" >
										<span class="icon-loop alert-info" title="Refresh Data"></span>
								</button>
							</div>
						</div>
						
					</div>
										
					<br /><br />
					
					<div class="alert alert-block alert-info FiraFont tc" data-ng-if="hse_equipment.length <= 0">
						<p class="FiraFont">There is no Equipment linked within this Profile at the moment.</p>
					</div>					

					<!-- -->
					<table id="equipment-table" class="table footable hoverable" data-ng-if="hse_equipment.length > 0">
						<thead>
							<tr class="tl uppercase mask-money" style="cursor:pointer;">
								<th colspan="2"></th>
								
								<th class="tc" colspan="6">Equipment Details</th>
								<th colspan="1" style="border:1px solid #ddd;">Action</th>
							</tr>
							<tr class="tl uppercase mask-money" style="cursor:pointer;">
								<th colspan="1" class="tc" style="border-top:1px solid #ddd;">
									<button type="button" class="btn alert-info" data-ng-click="selectAll(key)">
										<span class="icon-checkmark3 alert-success"></span>
									</button>
								</th>
								<th colspan="1" style="border-top:1px solid #ddd;">
									<h3 class="FiraFont uppercase mask-money"><strong>Total Equipment</strong>&nbsp;<span class="badge badge-success">{{hse_equipment.length}}</span></h3>
								</th>
								<th class="tc" style="border-top:1px solid #ddd;" colspan="2">PTO Date</th>
								<th class="tc" style="border-top:1px solid #ddd;" colspan="2">Certificate Date</th>
								<th class="tc" style="border-top:1px solid #ddd;" colspan="2">Appointment Date</th>
								<th colspan="1" style="border:1px solid #ddd;"></th>
							</tr>
							<tr class="tl uppercase mask-money" style="cursor:pointer;">
								<th colspan="1" style="border-top:1px solid #ddd;"></th>
								<th class="sortable" data-sid="Name" style="border-top:1px solid #ddd;" data-ng-click="setSortExpression('Name')">Equipment Name</th>
								<th class="tc sortable alert-warning" colspan="1" style="border-top:1px solid #ddd;" data-sid="PTODateredDate" data-ng-click="setSortExpression('PTODateredDate')">O.D.</th>
								<th class="tc sortable alert-danger" colspan="1" style="border-top:1px solid #ddd;" data-sid="PTODateorangeDate" data-ng-click="setSortExpression( 'PTODateorangeDate')">R.D.</th>
								<th class="tc sortable alert-warning" colspan="1" style="border-top:1px solid #ddd;" data-sid="CertificateDateredDate" data-ng-click="setSortExpression( 'CertificateDateredDate')">O.D.</th>
								<th class="tc sortable alert-danger" colspan="1" style="border-top:1px solid #ddd;" data-sid="CertificateDateorangeDate" data-ng-click="setSortExpression( 'CertificateDateorangeDate')">R.D.</th>
								<th class="tc sortable alert-warning" colspan="1" style="border-top:1px solid #ddd;" data-sid="AppointmentDateredDate" data-ng-click="setSortExpression( 'AppointmentDateredDate')">O.D.</th>
								<th class="tc sortable alert-danger" colspan="1" style="border-top:1px solid #ddd;" data-sid="AppointmentDateorangeDate" data-ng-click="setSortExpression( 'AppointmentDateorangeDate')">R.D.</th>
								<th colspan="1"></th>
							</tr>
						</thead>
						<tbody>
							<tr class="tl" bindonce data-ng-repeat="data in hse_equipment | paginate:50">
								
								<td colspan="1" class="tc">
									<input type="checkbox" name="accountActions[]" class="adminActionInput" data-uid="{{data.ID}}" />
								</td>
								<td colspan="1" bo-text="data.Name"></td>

								<td class="tc" colspan="1" bo-text="data.PTODateorangeDate | date: 'yyyy-MMM-dd'"></td>
								<td class="tc" colspan="1" bo-text="data.PTODateredDate | date: 'yyyy-MMM-dd'"></td>

								<td class="tc" colspan="1" bo-text="data.CertificateDateorangeDate | date: 'yyyy-MMM-dd'"></td>
								<td class="tc" colspan="1" bo-text="data.CertificateDateredDate | date: 'yyyy-MMM-dd'"></td>

								<td class="tc" colspan="1" bo-text="data.AppointmentDateorangeDate | date: 'yyyy-MMM-dd'"></td>
								<td class="tc" colspan="1" bo-text="data.AppointmentDateredDate | date: 'yyyy-MMM-dd'"></td>
								
								<!-- SOOPHA SHIYAT - ->
								<td data-ng-repeat="(key,value) in data.data">{{value.orangeDate | date: 'yyyy-MM-dd' }} <small>({{value.dateName}})</small></td>
								<td data-ng-repeat="(key,value) in data.data">{{value.redDate | date: 'yyyy-MM-dd'}} <small>({{value.dateName}})</small></td>
								<!- - -->
								<td class="mask-money" colspan="1" style="width:50px;">
									<button 
										type="button" 
										class="btn btn-info mask-money uppercase" 
										data-ng-click="openDialog('equipment-action', data.ID)" data-ng-disabled="fetchingData">
											Actions
									</button>
								</td>
								
		
							</tr>
							<!--
							<tr class="tl" bindonce data-ng-repeat="data in hse_equipment | paginate:50">

								<th colspan="2"></th>

								<td data-ng-repeat="(key,value) in data.data">{{value.dateLength | number: 2 }}</td>
								<td data-ng-repeat="(key,value) in data.data">{{value.dateLength | number: 2 }}</td>

								<th colspan="1"></th>

							</tr> -->

						</tbody>
						<tfoot class="footable-pagination tc">
							<tr>
								<td class="tc"colspan="2">
									<!--
									<select 
										id="batchActions-equipment" 
										disabled
										data-ng-model="batch_actions"
										data-ng-change="batchActions()">
											<option value="">Action&hellip;</option>
											<option value="balance">Get Balances</option>
											<option value="statement">Generate Statements</option>
									</select>
									-->
								</td>
								<td colspan="7"><paginator></paginator></td>
							</tr>
						</tfoot>
					
					</table><!-- -->

					<script type="text/ng-template" id="equipmentActions">
						<div data-ui-modal-equipment-actions></div>
					</script>
					<script type="text/ng-template" id="equipmentStop">
						<div data-ui-modal-equipment-department></div>
					</script>
					<script type="text/ng-template" id="equipmentOccupation">
						<div data-ui-modal-equipment-occupation></div>
					</script>
					<!--
					<script type="text/ng-template" id="editEquipmentInline">
						<div data-ui-form-edit-equipment></div>
					</script>
					-->